.profilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: darkslategray;
  background-color: #598556;
}
/* USER INFORMATION SECTION */
.pfp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 170px;
  border: 1px solid darkslategray;
  border-radius: 50%;
  background-color: #3b9158;
  margin-inline: 11px;
  font-size: 20px;
}
.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  margin-inline: 10px;
  font-size: 25px;
}
.inputField {  
  width: fit-content;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #3B6255;
  margin-block: 4px;
  font-size: 25px;
}
.contact {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 150px;
  border-radius: 2px;
  border: 2px dashed #3B6255;
  padding-left: 10px;
  font-size: 25px;
}
.profileInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  height: 199px;
  width: 1378px;
  margin-block: 25px;
}
/* HISTORY SECTION */
.button {
  display: flex;
  height: 55px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: darkslategray;
  background-color: #3b9158;
  border-radius: 15px;
  cursor: pointer;
  gap: 10px;
}
.historyBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1304px;
  height: 70px;
  margin-top: 22px;
  margin-bottom: 8px;
  margin-inline: 37px;
  border-bottom: 1px solid #3B6255; 
}
.history {
  width: 1378px;
  height: 500px;
  display: flex;
  flex-direction: column; 
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}